h1 {
    text-align: center;
    font-size: 80px;
    margin: 40px;
    font-family: Arial;
}

input {
    text-align: center;
    font-size: 25px;
    width: 250px;
    height: 50px;
    margin: 10px;
    font-family: Arial;
}

button {
    margin: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: Arial;
}

#numbers-div {
    text-align: center;
}

#button-div {
    text-align: center;
}


#enter-a-number {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-family: Arial;
}


